@import "../../colors.css";

.info-card {
    border: 3px solid var(--steel);
    border-radius: 10px;
    background-color: var(--purple);
    padding: 10px;
}

.countdown {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}