@import "../../colors.css";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 25px;
}

footer {
    width: 100%;
    font-size: 18px;
    position: relative;
}

.info-card {
    border: 3px solid var(--steel);
    border-radius: 10px;
    background-color: var(--purple);
}

.info-card > h2 {
    font-size: 50px;
    padding: 20px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.aimer-hero {
    width: 15%;
    height: auto;
}

.name > h1 {
    font-size: 100px;
}

.name > p {
    color: var(--silvery);
}

.bio {
    padding: 10px;
    margin: 5px;
}

.album, .info {
    padding: 20px;
}
