@import "../../colors.css";

.galleryContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.galleryImage {
    width: 100%;
    height: auto;
    max-height: 700px;
    margin: 50px 0;
    padding: 50px;
    cursor: pointer;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .galleryContainer {
        grid-template-columns: repeat(1, 1fr); /* Change to a single column on smaller screens */
    }
}