@import "../../colors.css";
@import "../../global.css";

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

footer {
    display: block;
    border-bottom: medium none;
    border-right: medium none;
    border-left: medium none;
    border-radius: 0px;
}

.info-card {
    border: 3px solid var(--steel);
    border-radius: 10px;
    background-color: var(--purple);
    padding: 10px;
}

.info-card > h2 {
    font-size: 50px;
    padding: 20px;
}

.bio {
    padding: 20px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.aimer-hero {
    width: 15%;
    height: auto;
}

.name > h1 {
    font-size: 100px;
}

.name > p {
    color: var(--silvery);
}

.album, .info {
    padding: 20px;
}
