@import "../../colors.css";

.cards {
    position: relative;
    width: 300px;
    height: 500px;
    margin: 125px;
    display: flex;
}

a {
}

.image {
    position: absolute;
    width: 100%;
    height: 100%;
    outline: 5px solid var(--pearl);
    box-shadow: 0 5px 5px 3px var(--silvery);
}

.large {
    transition: width 2s, height 2s, background-color 2s, rotate 2s;
    border-radius: 10px;
}

@keyframes move {
    from {
        top: 45%;
    }
    to {
        top: 55%;
    }
}
